name: Lint Code Base

on: [push, pull_request]

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Markdown
        uses: avto-dev/markdown-lint@v1
        with:
          config: '.github/markdown-lint-config.json'
          args: '**/*.md'
